//Contact content
//- professionals-list.pug
main.dn.flex-m.flex-l
  .the-content.fl.w-52.the-black-aligned
      div.contact__blocks.mw6
        p.contact__block_text.db(title="text")!= text
        span.contact__block_address.db(title="address")!= address
        span.contact__block_email.db(title="email")
          a.dim(href="mailto:" + email )= email
        span.contact__block_phone.db(title="phone")
          a.dim(href="tel:" + phone )= phone
