//Contact content
//- professionals-list.pug
main
  .the-content.w-100.w-52-m.w-52-l.w-52-sl.the-black-aligned
      div.contact__blocks.mw5
        //p.contact__block_text.db.mb4(title="text")!= text
        
        span.contact__block_email.db(title="email")
          a.dim(href="mailto:" + email )= email
        span.contact__block_phone.db.mb4(title="phone")
          a.dim(href="tel:" + phone )= phone

        span.contact__block_address.db(title="address")!= address
        span.contact__block_web.db(title= web)
          a.dim(href="http://" + web )= web
