//- procedure-list.pug
main.bg-black
  .the-content.w-100.left.mb5.ph3-ns
    .cf.ph2-ns
      .fl.w-40-m.w-20-l.ph2.dn.db-m.db-l.sticky
        ul.procedure__list
          for name in procedureList
            +procedure-list(name)
      .fl.w-100-ns.w-60-m.w-80-l.ph2.mw8
        div.procedure__blocks
          for name,text in procedureList
            +procedure-blocks(name)
            
            
