//- procedure-list.pug
main.flexbox.bg-black
  .the-content.w-100.mw8.center.ph3-ns.mt5
    .cf.ph2-ns
      .fl.w-100.w-30-ns.pa2.sticky
        ul.procedure__list
          for name in procedureList
            +procedure-list(name)
      .fl.w-100.w-70-ns.pa2
        div.procedure__blocks
          for name,text in procedureList
            +procedure-blocks(name)
