//- professionals-list.pug
main.flexbox
  .the-content.fl.w-52.pr4.the-black-aligned
    .projects.flex.flex-column.pv7

      div.bios__blocks
        for bio in professionalsList
          +bios-blocks(bio)
