//- professionals-list.pug
main
  .the-content.w-100.w-52-m.w-52-l.w-52-sl.the-black-aligned.mb7
      div.bios__blocks.mr0.mr3-m.mr4-l.mr4-sl
        for bio in professionalsList
          +bios-blocks(bio)
