//- professionals-list.pug

ul.professionals__list
  for professional in professionalsList
    +professionals-list(professional)

div.bios__blocks
  for bio in professionalsList
    +bios-blocks(bio)
