//- professionals-list.pug
main.flex-m.flex-l
  .the-content.fl.w-100.w-52-m.w-52-l.w-52-sl.mb7.the-black-aligned
      div.bios__blocks.mr4
        for bio in professionalsList
          +bios-blocks(bio)
