-
    var projectList = [
    {
        title: "Vibia",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"vibia.png",
        images:["vibia.png,vibia2.png"]
    },
    {
        title: "Troll",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"accent.png",
        images:""
    },
    {
        title: "Sageloux",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"vibia.png",
        images:""
    },
    {
        title: "Ledmotive",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"accent.png",
        images:""
    },
    {
        title: "Escofet",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"vibia.png",
        images:""
    },
    {
        title: "Accent",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"accent.png",
        images:""
    },
    {
        title: "Flint",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"vibia.png",
        images:""
    }, 
    {
        title: "Aismalibar",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"accent.png",
        images:""
    }, 
    {
        title: "Metalarte",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"vibia.png",
        images:""
    }, 
    {
        title: "Simón",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"accent.png",
        images:""
    }, 
    {
        title: "Santa&Cole",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"vibia.png",
        images:""
    }, 
    {
        title: "Marset",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"accent.png",
        images:""
    },  
    {
        title: "Roca",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"vibia.png",
        images:""
    },  
    {
        title: "Vibia",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"accent.png",
        images:""
    },  
    {
        title: "Santa&Cole",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"vibia.png",
        images:""
    },  
    {
        title: "Simón",
        description: "",
        collaboration: "",
        url: "#",
        rol: "",
        year: "",
        laus: "",
        featured: "",
        cover:"accent.png",
        images:""
    },    
    ];
