-
    var projectList = [
    {
        title: "Vibia",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    },
    {
        title: "Troll",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    },
    {
        title: "Sageloux",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    },
    {
        title: "Ledmotive",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    },
    {
        title: "Escofet",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    },
    {
        title: "Accent",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    },
    {
        title: "Flint",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    }, 
    {
        title: "Aismalibar",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    }, 
    {
        title: "Metalarte",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    }, 
    {
        title: "Simón",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    }, 
    {
        title: "Santa&Cole",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    }, 
    {
        title: "Marset",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    },  
    {
        title: "Roca",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    },  
    {
        title: "Vibia",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    },  
    {
        title: "Santa&Cole",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    },  
    {
        title: "Simón",
        description: "",
        collaboration: "",
        URL: "",
        rol: "",
        year: "",
        laus: "",
        featured: ""
    },    
    ];
