div.the-black.fl.w-100.h-100.z-999.fixed.relative.overflow-hidden
  //div.preloader__title.vh-100.dt.w-100.absolute.top-0.z-9999
    .dtc.v-mid.tc.white.ph3.ph4-l
      h2.tc= title
  div.image-containter.h-100.bg-blend.hide-cover(style="display:none")
  div.flash
    div.flash-black
  div.bg-black.h-100.the-black-bg
