//The black big sizes
div.the-black.fl.w-100.h-100.z-999.fixed.relative.overflow-hidden.the-black-bg.dn.db-m.db-l
  div.image-containter.h-100.hide-cover(style="display:none")
  //div.flash
    div.flash-black
  div.h-100.the-black-bg

//The black mobile
div.the-black.fl.w-100.h-50.bottom-0.z-999.fixed.relative.overflow-hidden.the-black-bg.db-ns.dn-m.dn-l
  div.image-containter.h-100.hide-cover(style="display:none")
  div.flash
    div.flash-black
  div.h-100.the-black-bg
