nav.dt.w-100.border-box.pa3.ph4-ns
  a.dtc.v-mid.dark-gray.link.dim.w-25(href='#', title='Home')= title
  .dtc.v-mid.w-75.tr
    span.link.dark-gray.dib.mr3.mr0-ns(href='#', title='Store')= description
