nav.bottom-nav.dt.w-100.border-box.pa3.ph4-ns
  a.dtc.v-mid.dark-gray.link.dim.w-25(href='#', title='Home') Protocol
  .dtc.v-mid.w-75.tr
    a.link.dim.dark-gray.dib.mr3.mr4-ns(href='#', title='Store') Procedure
    a.link.dim.dark-gray.dib.mr3.mr4-ns(href='professionals.html', title='Professionals') Professionals
    a.link.dim.dark-gray.dib.mr3.mr0-ns(href='#', title='Store') Contact
