nav.flex.w-100.border-box.pa3.ph4-ns.dib.v-top.bottom-nav.z-3
  .dtc.v-mid.w-50.tl
    a.dark-gray.link.dim.info--panel(href='#', title='Home') + Info
  .dtc.v-mid.w-15.tl.secondary-nav
    a.dark-gray.link.dim(href='#', title='Home') Proto
  .dtc.v-mid.w-50.tr.secondary-nav
    a.link.dim.dark-gray.dib.mr3.mr4-ns(href='#', title='Store') Procedure
    a.link.dim.dark-gray.dib.mr3.mr4-ns(href='professionals.html', title='Professionals') Professionals
    a.link.dim.dark-gray.dib.mr3.mr0-ns(href='#', title='Store') Contact

      
