header.fixed.z-3.w-100.bg-white.pv3
  nav.z-2.ph4.top-nav.flexbox
    .fl.w-48.pv1
      .tl
          h2.project--title.link.dark-gray.dib.mr3.mr0-ns(title= 'description' )= project
    .fl.w-12
      .tl
        a.dark-gray.link.dim.theBlackToBlack(href='index.html', title='Home')= title
    .fl.w-40
      .tr
        span.link.dark-gray.dib.mr3.mr0-ns(title= 'description' )= description
