nav.flex.w-100.border-box.pa3.ph4-ns.dib.v-top.top-nav.z-3
  .dtc.v-mid.w-50.tl
    h2.project--title.link.dark-gray.dib.mr3.mr0-ns(title= 'description' ) Vibia
  .dtc.v-mid.w-15.tl
    a.dark-gray.link.dim(href='index.html', title='Home')= title
  .dtc.v-mid.w-50.tr
    span.link.dark-gray.dib.mr3.mr0-ns(title= 'description' )= description

  
