nav.flex.w-100.border-box.pa3.ph4-ns.dib.v-top.top-nav
  a.dtc.v-mid.dark-gray.link.dim.w-25(href='index.html', title='Home')= title
  .dtc.v-mid.w-75.tr
    span.link.dark-gray.dib.mr3.mr0-ns(title= 'description' )= description

  
