nav.z-3.ph4.pv2.top-nav
  .fl.w-48
    .tl.pv1
        h2.project--title.link.dark-gray.dib.mr3.mr0-ns(title= 'description' )= project
  .fl.w-12
    .tl.pv1
      a.dark-gray.link.dim(href='index.html', title='Home')= title
  .fl.w-40
    .tr.pv1
      span.link.dark-gray.dib.mr3.mr0-ns(title= 'description' )= description
