include partials/projects
include partials/variables
include partials/mixins

doctype html5
html
	
	include partials/head+scripts/head.pug

	body
		
		//a.referencia-titulo= title
		div.dim.the-black.fl.w-45.h-100
			div.image-containter.h-100.hide-cover
			div.bg-black-90.h-100.the-black-bg
			
		div.the-content.fl.w-55
			div.wrapper.home 
				
				header
					include partials/nav/top-nav.pug 
				
				main
					include partials/projects-list.pug  

				footer
					include partials/nav/bottom-nav.pug			

	include partials/head+scripts/scripts.pug
    
