include partials/projects
include partials/variables
include partials/mixins

doctype html5
html
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title #{title} - #{description}
		link(rel='stylesheet', href='assets/css/style.css')
		link(rel='stylesheet', href='assets/css/tachyons.css')

	body
		h1.logo= title
		h1.description= description
		
		main
			ul.projects
				for project in projectList
					+project-list(project)
					
		nav
			ul
				li Contact
				li Projects
				li Professionals
				li Procedure
		
	script(src="https://code.jquery.com/jquery-3.3.1.min.js",integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",crossorigin="anonymous")
	script(src="assets/js/scripts.js",async="async")
    
