{
  "name": "Proto Web",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "partials/mixins.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "partials/projects.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "assets/css/tachyons-sass-master/tachyons.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/tachyons.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "partials/variables.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "partials/head.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "partials",
      "assets/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "project.pug",
      "imports": [
        "data/projects.pug",
        "partials/variables.pug",
        "partials/mixins.pug",
        "partials/head+scripts/head.pug",
        "partials/the-black.pug",
        "partials/nav/top-nav-fullwidth.pug",
        "partials/detail-project.pug",
        "partials/nav/bottom-nav-fullwidth.pug",
        "partials/head+scripts/scripts.pug"
      ]
    },
    {
      "path": "index.pug",
      "imports": [
        "data/projects.pug",
        "partials/variables.pug",
        "partials/mixins.pug",
        "partials/head+scripts/head.pug",
        "partials/the-black.pug",
        "partials/nav/top-nav-fullwidth.pug",
        "partials/projects-list.pug",
        "partials/nav/bottom-nav-fullwidth.pug",
        "partials/head+scripts/scripts.pug"
      ]
    },
    {
      "path": "professionals.pug",
      "imports": [
        "data/professionals.pug",
        "data/projects.pug",
        "partials/variables.pug",
        "partials/mixins.pug",
        "partials/head+scripts/head.pug",
        "partials/the-black.pug",
        "partials/nav/top-nav-fullwidth.pug",
        "partials/professionals-list.pug",
        "partials/nav/bottom-nav-fullwidth.pug",
        "partials/head+scripts/scripts.pug"
      ]
    },
    {
      "path": "assets/css/style.scss",
      "imports": [
        "assets/css/_reset.scss",
        "assets/css/_mediaqueries.scss",
        "assets/css/_proto-royalslider.scss",
        "assets/css/_include-media.scss"
      ]
    },
    {
      "path": "assets/css/tachyons-sass-master/tachyons.scss",
      "imports": [
        "assets/css/tachyons-sass-master/scss/_normalize.scss",
        "assets/css/tachyons-sass-master/scss/_variables.scss",
        "assets/css/tachyons-sass-master/scss/_debug-children.scss",
        "assets/css/tachyons-sass-master/scss/_debug-grid.scss",
        "assets/css/tachyons-sass-master/scss/_debug.scss",
        "assets/css/tachyons-sass-master/scss/_box-sizing.scss",
        "assets/css/tachyons-sass-master/scss/_aspect-ratios.scss",
        "assets/css/tachyons-sass-master/scss/_images.scss",
        "assets/css/tachyons-sass-master/scss/_background-size.scss",
        "assets/css/tachyons-sass-master/scss/_background-position.scss",
        "assets/css/tachyons-sass-master/scss/_outlines.scss",
        "assets/css/tachyons-sass-master/scss/_borders.scss",
        "assets/css/tachyons-sass-master/scss/_border-colors.scss",
        "assets/css/tachyons-sass-master/scss/_border-radius.scss",
        "assets/css/tachyons-sass-master/scss/_border-style.scss",
        "assets/css/tachyons-sass-master/scss/_border-widths.scss",
        "assets/css/tachyons-sass-master/scss/_box-shadow.scss",
        "assets/css/tachyons-sass-master/scss/_code.scss",
        "assets/css/tachyons-sass-master/scss/_coordinates.scss",
        "assets/css/tachyons-sass-master/scss/_clears.scss",
        "assets/css/tachyons-sass-master/scss/_display.scss",
        "assets/css/tachyons-sass-master/scss/_flexbox.scss",
        "assets/css/tachyons-sass-master/scss/_floats.scss",
        "assets/css/tachyons-sass-master/scss/_font-family.scss",
        "assets/css/tachyons-sass-master/scss/_font-style.scss",
        "assets/css/tachyons-sass-master/scss/_font-weight.scss",
        "assets/css/tachyons-sass-master/scss/_forms.scss",
        "assets/css/tachyons-sass-master/scss/_heights.scss",
        "assets/css/tachyons-sass-master/scss/_letter-spacing.scss",
        "assets/css/tachyons-sass-master/scss/_line-height.scss",
        "assets/css/tachyons-sass-master/scss/_links.scss",
        "assets/css/tachyons-sass-master/scss/_lists.scss",
        "assets/css/tachyons-sass-master/scss/_max-widths.scss",
        "assets/css/tachyons-sass-master/scss/_widths.scss",
        "assets/css/tachyons-sass-master/scss/_overflow.scss",
        "assets/css/tachyons-sass-master/scss/_position.scss",
        "assets/css/tachyons-sass-master/scss/_opacity.scss",
        "assets/css/tachyons-sass-master/scss/_rotations.scss",
        "assets/css/tachyons-sass-master/scss/_skins.scss",
        "assets/css/tachyons-sass-master/scss/_skins-pseudo.scss",
        "assets/css/tachyons-sass-master/scss/_spacing.scss",
        "assets/css/tachyons-sass-master/scss/_negative-margins.scss",
        "assets/css/tachyons-sass-master/scss/_tables.scss",
        "assets/css/tachyons-sass-master/scss/_text-decoration.scss",
        "assets/css/tachyons-sass-master/scss/_text-align.scss",
        "assets/css/tachyons-sass-master/scss/_text-transform.scss",
        "assets/css/tachyons-sass-master/scss/_type-scale.scss",
        "assets/css/tachyons-sass-master/scss/_typography.scss",
        "assets/css/tachyons-sass-master/scss/_utilities.scss",
        "assets/css/tachyons-sass-master/scss/_visibility.scss",
        "assets/css/tachyons-sass-master/scss/_white-space.scss",
        "assets/css/tachyons-sass-master/scss/_vertical-align.scss",
        "assets/css/tachyons-sass-master/scss/_hovers.scss",
        "assets/css/tachyons-sass-master/scss/_z-index.scss",
        "assets/css/tachyons-sass-master/scss/_nested.scss",
        "assets/css/tachyons-sass-master/scss/_styles.scss"
      ]
    },
    {
      "path": "procedure.pug",
      "imports": [
        "data/procedure.pug",
        "data/projects.pug",
        "partials/variables.pug",
        "partials/mixins.pug",
        "partials/head+scripts/head.pug",
        "partials/the-black.pug",
        "partials/nav/top-nav-fullwidth.pug",
        "partials/procedure-list.pug",
        "partials/nav/bottom-nav-fullwidth.pug",
        "partials/head+scripts/scripts.pug"
      ]
    },
    {
      "path": "contact.pug",
      "imports": [
        "data/contact.pug",
        "data/projects.pug",
        "partials/variables.pug",
        "partials/mixins.pug",
        "partials/head+scripts/head.pug",
        "partials/the-black.pug",
        "partials/nav/top-nav-fullwidth.pug",
        "partials/contact-content.pug",
        "partials/nav/bottom-nav-fullwidth.pug",
        "partials/head+scripts/scripts.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}