include data/professionals
include partials/variables
include partials/mixins

- var project = "";
- var infolink = "";

doctype html5
html
	
	include partials/head+scripts/head.pug

	body
		//a.referencia-titulo= title
	
	div.wrapper
		
		header
			include partials/nav/top-nav-fullwidth.pug 
		
		main
			include partials/professionals-list.pug

		footer
			include partials/nav/bottom-nav-fullwidth.pug			
		
	include partials/head+scripts/scripts.pug
