include data/professionals
include partials/variables
include partials/mixins

- var project = "";
- var infolink = "";

doctype html5
html
	
	include partials/head+scripts/head.pug

	body.visible-the-black.bg-blend
		
		//a.referencia-titulo= title
		include partials/the-black.pug
        
		div.wrapper
				
				header
					include partials/nav/top-nav-fullwidth.pug  
				
				main.home
					include partials/professionals-list.pug 

				footer
					include partials/nav/bottom-nav-fullwidth.pug			



	include partials/head+scripts/scripts.pug
    
