include data/professionals
include data/projects
include partials/variables
include partials/mixins

- var project = "";
- var infolink = "";

doctype html5
html
	
	include partials/head+scripts/head.pug

	body.visible-the-black.bg-blend.professionals
		
		//a.referencia-titulo= title
		include partials/the-black.pug
        
		.wrapper
				
			include partials/nav/top-nav-fullwidth.pug 
			
			include partials/professionals-list.pug

			include partials/nav/bottom-nav-fullwidth.pug			



	include partials/head+scripts/scripts.pug
    
