include partials/projects
include partials/variables
include partials/mixins

- var project = "Vibia";
- var infolink = "+ Info";

doctype html5
html
	
	include partials/head+scripts/head.pug

	body.projects-page
		//a.referencia-titulo= title
	
	div.wrapper
		
		header
			include partials/nav/top-nav-fullwidth.pug 
		
		main
			include partials/detail-project.pug

		footer
			include partials/nav/bottom-nav-fullwidth.pug			
		
	include partials/head+scripts/scripts.pug
