.royalSlider{
  width: 100% !important;
}

.visibleNearby {
  width: 100%;
  background-color: transparent;
}
.visibleNearby .rsGCaption {
  position: absolute;
 top: 0;
 bottom: 0;
 left:0;
 right:0;
 margin: auto;
 width:50%;
 height: 20%;
 display: none;
}


/* Scaling transforms */
.visibleNearby .rsSlide img {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
.visibleNearby .rsActiveSlide img {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* Non-linear resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 900px) {
  #gallery-1 {
    //padding: 12px 0 12px;
  }
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    //height: 400px !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    //height: 300px !important;
  }
}


.contentSlider {
  width: 100%;
}
.contentSlider,
.contentSlider .rsOverflow,
.contentSlider .rsSlide,
.contentSlider .rsVideoFrameHolder,
.contentSlider .rsThumbs {

}

.contentSlider .rsSlide,
.contentSlider .rsOverflow {

}
.contentSlider .rsSlide{
  display: table;
}
.contentSlider h3 {
  display: table-cell;
  vertical-align: middle;
  padding: 2rem;

}
.contentSlider img {
  max-width: 100%;
  height: auto;
  display: block;
}
