//styles.scss
@import 'reset';
@import 'mediaqueries';
@import 'proto-royalslider';
//@import 'include-media';

$black: #000;
$the-black-color: #111;
$top-space: 7em;


@font-face {font-family: "NHU";
  src: url("../fonts/145bf6f8eebf1ad036f74d821af7d94b.eot"); /* IE9*/
  src: url("../fonts/145bf6f8eebf1ad036f74d821af7d94b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/145bf6f8eebf1ad036f74d821af7d94b.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/145bf6f8eebf1ad036f74d821af7d94b.woff") format("woff"), /* chrome、firefox */
  url("../fonts/145bf6f8eebf1ad036f74d821af7d94b.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/145bf6f8eebf1ad036f74d821af7d94b.svg#Neue Haas Unica W06 Light") format("svg"); /* iOS 4.1- */
}

body {
  font-family: "NHU";
  font-size: 1.1em !important;
  line-height: 1.2;

  @include break(not-small) {
    font-size: 1.1em !important;
  }
  @include break(medium) {
    font-size: 1.2em !important;
  }
  @include break(large) {
    font-size: 1.5em !important;
  }
  @include break(super-large) {
    font-size: 1.8em !important;
  }

}

//Layout
.wrapper main {
  flex: 1;
  //background-color: yellow;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  padding-top: $top-space;


  .projects-page &{
    padding-top: 0;
    overflow-y: hidden;
    justify-content: center;
    width: 100%;
  }

}



//the black
.the-black-bg {
  background-color: $the-black-color;
}

.the-black-aligned {
  margin-left: auto;
}

.hidden-the-black .the-black {
  width: 0;
}

//Color
.top-nav-black {
  header {
    background-color: $black;

    & * {
      color: white;
    }
  }

  footer {
    background-color: $black;

    & * {
      color: white;
    }
  }
}


//Top space general
.top-space{
  padding-top: $top-space;
}

//Links

a {
  text-decoration: none;
  color: black;

  :visited {}
}

.separator {
    display: inline-block;
    background-color: black;
    width: 2px;
    height: 0.8em;
    vertical-align: baseline;
    margin-left: .6em;
    margin-right: .6em;
}

main ul.projects {
    //Desplazamiento para los proyectos en la home para controlar la animación
    margin-top: -45px;
}

a.project--link {
  display: inline-block;
}

.the-black .image-containter {
  background-image: url("../images/default.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #666;

  .bg-blend & {
    background-blend-mode: multiply;
  }
}

.hide-info-panel {
  display: none;
}

.referencia-titulo {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  display: block;
  background-color: red;
}

//anime elements
.js-hidden {
  opacity: 0;
}

.js-FocusElement{
  cursor: pointer;
}

.collapsed{
  display: none;
}

.focus{
  opacity: 1 !important;
}
.not-focus{
  opacity: 0.3;
}

//sticky
.sticky
{
  position: sticky;
  top: 7em;
}

//Proto Graphic

#proto-chart{
  stroke: white;
}

svg{
  stroke: white;

  text{
  font-size: 1.1em;
  color: #fff;
  stroke: none;

  @include break(not-small) {
    font-size: 1.1em !important;
  }
  @include break(medium) {
    font-size: .7em !important;
  }
  @include break(large) {
    font-size: .7em !important;
  }
  @include break(super-large) {
    font-size: .55em !important;
  }

}

  .info__block{
    display: none;

  }
  #close__info__block:hover{
    cursor: pointer;
    text-decoration: underline;
  }

}

.outerPie{
  stroke: none;

  .arc{
    //stroke: none;
    path{
      stroke: 1;
    }
  }
}

.innerPie{
  stroke: 2;

  .arc{
    stroke:2;
    path{
      stroke: 1;
    }
  }
}
.innerPie>g{
  stroke: 2 !important;
}
.outerPie>g>.arc{
 stroke: 2;
}
.arc {
  cursor: pointer;

  &:hover {

  }

}
circle.info__block{
  stroke: 2;
}
