- var text = "Contacte con nosotros y el método Proto se activará al instante";
- var address = "Llull 47/49, 1-4 <br/> 08005 Barcelona";
- var email = "regina@proto.black"
- var phone = "0034 629 563 341";
- var web = "proto.black";
- var maps = "map.png";
