- var text = "Contacte con nosotros y el método Proto se activará inmediatamente";
- var address = "Ramon Llull, 54,<br/> Barcelona 08016";
- var email = "regina@proto.black"
- var phone = "0034 655 737 288";
- var maps = "map.png";
