-
    var procedureList = [
    {
        name: "Intro",
        text: "En Proto somos especialistas en el habitat tech: iluminación, mobiliario, pavimentos, domótica, etc. Mediante nuestra complicidad con los arquitectos, diseñadores y proyectistas de las marcas para las que trabajamos, el valor de sus propuestas aumenta a través de la implementación de conceptos estratégicos y creativos.<br/><br/>  Interactuamos en los lugares que conforman nuestra vida, compuestos por elementos constructivos y tecnológicos donde coinciden usuarios y creadores. Las marcas, sus productos y sus fans —la tribu—, mantienen una relación muy próxima e indisociable, motivo por el cual las estrategias a desarrollar en los tres universos deben estar coordinadas, pensadas y ejecutadas al unísono. <br/><br/>  Proponemos distintas formas de colaboración a través de las que imaginar, conceptualizar y desarrollar tu marca y productos.",
        id: "1"
    },
    {
        name: "Method Proto</br>",
        text: "El método Proto consiste en el desarrollo de las combinaciones que surgen de relacionar entre sí los apartados siguientes:",
        id: "2"
    },
    {
        name: "Strategy",
        text: "Strategy Tendi num quis demporuptate et vid et peribusa quas volo endam non estotat. aut volorer spiducium saperibus, od maio te porem dolo et restrunt alitae natur? Qui utem fugia verum quid ea que eos et et earum non et, si rectatiore coreceation nossini endandae provitae. Tendi num quis demporuptate et vid et peribusa quas volo endam non estotat. aut volorer spiducium saperibus, od maio te porem dolo et restrunt alitae natur? Qui utem fugia verum quid ea que eos et et earum non et, si rectatiore coreceation nossini endandae provitae.",
        id: "3"
    },
    {
        name: "Branding",
        text: "Branding Tendi num quis demporuptate et vid et peribusa quas volo endam non estotat. aut volorer spiducium saperibus, od maio te porem dolo et restrunt alitae natur? Qui utem fugia verum quid ea que eos et et earum non et, si rectatiore coreceation nossini endandae provitae. Tendi num quis demporuptate et vid et peribusa quas volo endam non estotat. aut volorer spiducium saperibus, od maio te porem dolo et restrunt alitae natur? Qui utem fugia verum quid ea que eos et et earum non et, si rectatiore coreceation nossini endandae provitae.",
        id: "4"
    },
    {
        name: "Art direction",
        text: "Art direction Tendi num quis demporuptate et vid et peribusa quas volo endam non estotat. aut volorer spiducium saperibus, od maio te porem dolo et restrunt alitae natur? Qui utem fugia verum quid ea que eos et et earum non et, si rectatiore coreceation nossini endandae provitae. Tendi num quis demporuptate et vid et peribusa quas volo endam non estotat. aut volorer spiducium saperibus, od maio te porem dolo et restrunt alitae natur? Qui utem fugia verum quid ea que eos et et earum non et, si rectatiore coreceation nossini endandae provitae.",
        id: "5"
    },
    {
        name: "Product concepts",
        text: "Product concepts Tendi num quis demporuptate et vid et peribusa quas volo endam non estotat. aut volorer spiducium saperibus, od maio te porem dolo et restrunt alitae natur? Qui utem fugia verum quid ea que eos et et earum non et, si rectatiore coreceation nossini endandae provitae. Tendi num quis demporuptate et vid et peribusa quas volo endam non estotat. aut volorer spiducium saperibus, od maio te porem dolo et restrunt alitae natur? Qui utem fugia verum quid ea que eos et et earum non et, si rectatiore coreceation nossini endandae provitae.",
        id: "6"
    },
    {
        name: "Storytelling",
        text: "Storytelling Tendi num quis demporuptate et vid et peribusa quas volo endam non estotat. aut volorer spiducium saperibus, od maio te porem dolo et restrunt alitae natur? Qui utem fugia verum quid ea que eos et et earum non et, si rectatiore coreceation nossini endandae provitae. Tendi num quis demporuptate et vid et peribusa quas volo endam non estotat. aut volorer spiducium saperibus, od maio te porem dolo et restrunt alitae natur? Qui utem fugia verum quid ea que eos et et earum non et, si rectatiore coreceation nossini endandae provitae.",
        id: "7"
    },
    {
        name: "Communication",
        text: "Communication Tendi num quis demporuptate et vid et peribusa quas volo endam non estotat. aut volorer spiducium saperibus, od maio te porem dolo et restrunt alitae natur? Qui utem fugia verum quid ea que eos et et earum non et, si rectatiore coreceation nossini endandae provitae. Tendi num quis demporuptate et vid et peribusa quas volo endam non estotat. aut volorer spiducium saperibus, od maio te porem dolo et restrunt alitae natur? Qui utem fugia verum quid ea que eos et et earum non et, si rectatiore coreceation nossini endandae provitae.",
        id: "8"
    },
    
    ];
