-
    var procedureList = [
    {
        name: "Intro",
        text: "At  Proto  we  are  specialists  in  the  habitat-tech:  lighting,  furniture,  flooring,  home  automation,  etc.  Through  our  close  relationship  with  the  architects,  designers  and  project  designers  of  the  brands  for  which  we  work,  the  value  of  their  proposals  increases  through  the  implementation  of  strategic  and  creative  concepts.<br><br>  We  interact  in  the  places  that  make  up  our  life,  composed  of  constructive  and  technological  elements  where  users  and  creators  coincide.</br></br>The  brands,  their  products  and  their  fans  -  the  tribe  -  maintain  a  very  close  and  inseparable  relationship,  which  is  why  the  strategies  to  be  developed  in  the  three  universes  must  be  coordinated,  thought  out  and  executed  in  unison.<br><br>We  propose  different  forms  of  collaboration  through  which  to  imagine,  conceptualise  and  develop  your  brand  and  products.",
        id: "1"
    },
    {
        name: "Method Proto</br>",
        text: "The  Pro_to®  method  consists  of  the  development  of  the  combinations  that  arise  from  relating  the  following  sections  to  each  other:",
        graphic: "<svg id='proto-chart'></svg>",
        id: "2" 
    },
    {
        name: "Strategy",
        text: "We  develop  and  apply  strategic  analysis  to  each  project,  working  closely  with  the  company  so  as  to  be  able  to  effectively  implement  creative  ideas,  which  will  allow  us  to  promote,  increase  and  sustain  the  value  of  brands  and  their  products.",
        id: "3"
    },
    {
        name: "Branding",
        text: "We  create  and  manage  brand  environments.  We  revalue  your  know-how,  combining  branding  and  marketing  in  the  same  phrase.  Our  knowledge  of  the  sector  allows  us  to  build  the  most  appropriate  positioning  for  each  market  segment.",
        id: "4"
    },
    {
        name: "Art direction",
        text: "We  direct  all  the  teams  involved  in  the  project,  from  the  photo  shoot  to  the  stand  design,  to  reaffirm  the  values  of  the  brand  and  the  concepts  strategically  inherent  in  the  product, the  brand  and  the  concepts  strategically  inherent  in  the  product. ",
        id: "5"
    },
    {
        name: "Product concepts",
        text: "he  product  is  the  ambassador  of  the  brand  in  the  user's  home.  At  Proto  we  conceptualise  and  imagine  a  framework  of  possible  developments  within  your  portfolio  of  solutions.  Through  emotion,  we  activate  the  twelve  senses  of  your  tribe. ",
        id: "6"
    },
    {
        name: "Storytelling",
        text: "We  tell  the  best  story  about  your  company  and  its  products.  A  story  constructed  between  us  that  will  allow  us  to  spread  the  proposal  more  effectively,  reducing  communication  costs  and  increasing  the  impact  of  the  message.  ",
        id: "7"
    },
    {
        name: "Communication",
        text: "The  message  connects  us  with  the  market.  The  relationship  between  the  industry,  the  creators,  the  prescribers,  the  point  of  sale  and  the  final  consumer  is  intimate  and  closely  related.  We  enhance  these  links  by  connecting  the  proposal  with  its  audience. ",
        id: "8"
    },
    
    ];
