-
    var professionalsList = [
    {
        name: "Riki Hugàs",
        rol: "Creative  Thinker",
        bio: "He  enjoys  his  work.  His  imagination  has  no  limits.  After  a  lifetime  in  the  world  of  design  and  marketing,  hundreds  of  objects  have  passed  through  his  hands  that  he  produced  and  circulated  internationally.  He  loves  working  with  creative  and  enterprising  people.",
        image:"riki.jpg"
    },
    {
        name: "Regina Hugas",
        rol: "Account  Manager",
        bio: "100%  energy.  The  market  is  her  universe.  For  her,  there  are  no  hidden  niches.  She  develops,  orders,  ranks  and  calculates  what  is  imagined  by  the  creatives.  She  is  a  great  planner,  with  experience  in  the  international  industrial  sector.  A  mainstay  of  the  group,  constantly  coordinating  and  encouraging  us.",
        image:"regi.jpg"
    },
    {
        name: "Xavi Grau",
        rol: "Conceptology",
        bio: "If  the  concept  does  not  exist,  he  will  invent  it.  Inspired  by  an  intense  and  extensive  life  journey,  he  thinks  out  of  the  box  in  every  field.  He  interrelates  disparate  professional  worlds  and  provides  them  with  newcontent  that  enriches  the  story  required  by  the  brand,  product  or  service. ",
        image:"xavi.jpg"
    },
    {
        name: "Xiqui Mateu",
        rol: "MFA  Designer  -  Strategist",
        bio: "Passionate  about  shape,  colour  and  the  twelve  senses  defined  by  R.  Steiner.  His  approach  to  projects  emphasises  their  most  collaborative  and  co-creative  part.  His  international  experience  ranges  from  the  healthsector  to  product  development  and  the  automotive  industry.",
        image:"xiqui.jpg"
    },
    
    ];

- var professionalsIntro = "The  core  of  Proto  is  made  up  of  a  group  of  experts  used  to  directing,  and  cooperating  with  teams  from  different  fields  and  disciplines.  Each  project  is  unique  and  needs  specialists.  For  this  reason  we  are  surrounded  by  multiple,  but  habitual,  trusted  partners.";
