head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title #{title} - #{description}
  link(rel='stylesheet', href='assets/css/style.css')
  link(rel='stylesheet', href='assets/css/tachyons.css')
  link(rel='stylesheet', href='assets/css/royalslider/royalslider.css')
  link(rel='stylesheet', href='assets/css/royalslider/skins/minimal-white/rs-minimal-white.css')
